body {
  height: 100vh;
  transform: translate(0);
}
/* Muesca de la barra de desplazamiento */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/* Barra de desplazamiento */
*::-webkit-scrollbar {
  width: 0;
}
