<template>
  <div class="header">
    <img class="header__logo" src="@/assets/logo.png" alt="logo" />
    <p class="header__title">Vue + Vant</p>
  </div>
</template>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    display: block;
    width: 120px;
    height: 120px;
    padding-top: 64px;
  }
  &__title {
    font-size: 32px;
    color: #000;
    font-weight: normal;
    padding-top: 8px;
  }
}
</style>
