<template>
  <Logo />
  <van-form class="form">
    <van-field
      type="text"
      v-model="identifier"
      name="identifier"
      maxlength="30"
      clearable
      label="Username"
      placeholder="Username"
      :rules="[{ required: true, message: 'Please enter username' }]"
    />
    <van-field
      type="password"
      v-model="password"
      name="password"
      maxlength="20"
      clearable
      label="Password"
      placeholder="Password"
      :rules="[{ required: true, message: 'Please fill in the password' }]"
    />
    <!-- <div class="forget">
      <router-link to="/forget" custom v-slot="{ navigate }">
        <span @click="navigate" role="link">Forgot password</span>
      </router-link>
    </div> -->
    <div style="margin: 16px">
      <van-button
        round
        block
        type="primary"
        native-type="submit"
        @click.prevent="handleOnLogin"
      >
        Submit
      </van-button>
      <van-button
        style="margin-top: 10px"
        plain
        round
        block
        type="primary"
        native-type="button"
        to="/register"
        >Register</van-button
      >
    </div>
  </van-form>
</template>

<script lang="ts">
import Logo from "@/components/logo.vue";
// import { computed, ref } from "vue";
import user from "../../store/modules/users";
import Router from "../../router/index";
import { Toast } from "vant";

export default {
  components: { Logo },
  name: "Login",
  setup() {
    const identifier: string = "yuyay";
    const password: string = "B11210815";

    function handleOnLogin() {
      user
        .login({
          identifier: identifier,
          password: password,
        })
        .then(() => {
          Toast.success("Success Register");
          Router.push("/");
        })
        .catch((e) => {
          Toast.fail(e);
          console.error(e);
        });
    }
    return { identifier, password, handleOnLogin };
  },
};
</script>

<style lang="scss" scoped>
.form {
  padding: 24px;
  margin-top: 32px;
}

.forget {
  box-sizing: border-box;
  color: #323233b9;
  font-size: 24px;
  text-align: right;
  padding-right: 32px;
  padding-top: 16px;
}

.van-cell__title {
  flex: none;
}
</style>
