<template>
  <van-nav-bar
    title="User registration"
    left-text="Return"
    left-arrow
    @click-left="$router.back()"
  />
  <van-form class="form" style="padding: 12px">
    <van-field
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      v-model="email"
      required
      autofocus
    />
    <!-- :rules="[{ required: true, message: 'Please enter Email!' }]" -->
    <van-field
      type="text"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      v-model="username"
      required
    />
    <!-- :rules="[{ required: true, message: 'Please enter username!' }]" -->
    <van-field
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      v-model.lazy="password"
      required
    />
    <!-- :rules="[{ required: true, message: 'Please set your password!' }]" -->
    <div style="margin: 16px">
      <van-button
        round
        block
        type="primary"
        native-type="submit"
        @click="handleOnRegister"
      >
        Submit
      </van-button>
    </div>
  </van-form>
</template>

<script lang="ts">
import user from "../../store/modules/users";
import Router from "../../router/index";
import { Toast } from "vant";

export default {
  name: "Register",
  setup() {
    const email: string = "hola@mail.com";
    const username: string = "admin";
    const password: string = "password";

    function handleOnRegister() {
      user
        .register({
          email: email,
          username: username,
          password: password,
        })
        .then(() => {
          Toast.success("Success Register");
          Router.push("/");
        })
        .catch((e) => {
          Toast.fail(e);
          // console.error(e);
        });
    }
    return { email, username, password, handleOnRegister };
  },
};
</script>