<template>
  <van-sticky ref="stickyRef" v-if="isLoggedIn">
    <van-nav-bar :title="$route.meta?.title">
      <template #left>
        <van-icon name="wap-nav" size="18" />
      </template>
      <template #right>
        <van-icon name="user-o" size="18" @click="logOut" />
      </template>
    </van-nav-bar>
  </van-sticky>

  <div class="container">
    <router-view />
  </div>

  <van-tabbar ref="tabbarRef" route>
    <template v-for="item in main" v-if="isLoggedIn">
      <van-tabbar-item :to="item.path" :icon="item.meta.icon">{{
        item.meta.title
      }}</van-tabbar-item>
    </template>
    <template v-for="item in auth" v-if="!isLoggedIn">
      <van-tabbar-item :to="item.path" :icon="item.meta.icon">{{
        item.meta.title
      }}</van-tabbar-item>
    </template>
  </van-tabbar>
</template>

<script>
import { computed, defineComponent, ref, nextTick } from "vue";
import users from "../store/modules/users";
import router from "../router";
import { main } from "@/router/modules/main";
import { auth } from "@/router/modules/auth";

export default defineComponent({
  setup() {
    const stickyRef = ref("stickyRef");
    const tabbarRef = ref("tabbarRef");
    const containerHeight = ref("");

    nextTick(() => {
      containerHeight.value =
        stickyRef.value.$el.offsetHeight +
        tabbarRef.value.$el.offsetHeight +
        "px";
    });
    function logOut() {
      users.logout();
      router.push("login");
    }
    const isLoggedIn = computed(() => {
      return users.isTokenized;
    });
    const username = computed(() => {
      return users.username;
    });

    return {
      main,
      auth,
      logOut,
      isLoggedIn,
      username,
      stickyRef,
      tabbarRef,
      containerHeight,
    };
  },
});
</script>

<style lang="scss">
.container {
  --container-height: calc(100vh - v-bind("containerHeight"));
  height: calc(100vh - v-bind("containerHeight"));
  overflow: auto;
}
</style>

